body {
  background-color: #f9d627;
  font-family: NeutraText, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.cba-header {
  display: flex;
  margin: 0 auto;
}

.cba-header__title {
  font-weight: 400;
  font-size: 46px;
  padding: 38px 0 0 10px;
  margin: 0;
}

.cba-header__logo {
  height: 106px;
}

/* Estilos generales del menú */
.navbar {
  background-color: #1a1a1a;
  padding: 1rem;
  height: auto; /* Se ajusta al contenido */
  width: fit-content; /* Ancho según el menú */
  margin: 0 auto; /* Centrado horizontal */
  border-radius: 8px; /* Opcional: bordes redondeados */
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Disposición vertical */
  gap: 1.5rem; /* Espacio entre ítems */
  text-align: center; /* Texto centrado */
}

.navbar__menu li a {
  color: #f9d627;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
  padding: 0.5rem 1rem; /* Mayor área de clic */
}

.navbar__menu li a:hover {
  color: #ffffff;
  background-color: rgba(249, 214, 39, 0.1); /* Efecto sutil */
  border-radius: 4px;
}